Rocketseat.code-workspace
node_modules/
assets.zip
Discover/Maratona_2/database.sqlite
podcastrnext


# React Native git ignore updated here

.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
#Gameplay sensitive data
NLW/NLW#together/react_native/gameplay/src/configs/discordAuth.ts
.env